{% extends "layouts/layout.html" %}

{% block content %}
<body>
    <div class = "d-flex flex-column flex-shrink-0 p-3 light-mode light-text" style = "width:100%;" >

        <div class = "container-fluid d-flex">
            <a class = "d-flex align-items-center mb-3 mb-md-0 me-md-auto light-text text-decoration-none">
                <h1 class = "fs-2 light-text"> MEMO PATCH STATUS</h1>
            </a>
            <img class = "rounded float-end" src="{{url_for('static', filename='img/huinno_logo.png')}}" style = "width:311px; height:40px;">
        </div>

        <div><hr class = "light-hr"></div>

        <div class="row light-text mb-4">
            <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                <div class="container">
                    <h4 class = "fs-4">도입 병원수 : {{ new_hosp_lst[0] | int }}</h4>
                    <div class="row">
                        <div class="col border border-secondary">전년</div>
                        <div class="col border border-secondary">{{new_hosp_lst[1]}}</div>
                        <div class="col border border-secondary">YoY</div>
                        <div class="col border border-secondary">{{new_hosp_lst[2]}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content%}